{% extends "base.html.twig" %}

{% block title %}Mes livraisons{% endblock %}

{% block body %}

    <h1>Mes livraisons</h1>
    <p>Vous retrouverez sur cette page, vos annonces émisent qui ont trouvé preneur et les annonces sur lesquels vous vous êtes portés volontaires</p>

    {% if myDeliveries is not empty %}
        {% for item in myDeliveries %}
            <div class="card">
                {% if item.user.filename %}
                    <img src="{{vich_uploader_asset(item.user, 'imageFile')}}" alt="">  
                {% else %}
                    <img src="http://placehold.it/200x200" alt="">
                {% endif %}
                <h3>{{item.user.name}} {{item.user.lastname}}</h3>
                {% if item.communication %}
                    <span>Vous pouvez contacter cette personne : {{item.user.phone}}</span>
                {% else %}
                    <span>Vous pouvez contacter cette personne : {{item.user.email}}</span>
                {% endif %}
                <p>{{item.message}}</p>
                {% if item.cancellation %}
                    <h5 style="color:green">Votre contact a demandé à supprimer cette annonce, confirmez-vous la suppression ?</h5>
                    <a href="{{path('confirm_cancellation_advert', {id:item.id})}}">Je confirme l'annulation de cette annonce</a>
                    <a href="#">Signaler un abus</a>
                {% endif %}
                
            </div>
        {% endfor %}
    {% else %}
        <p>Vous n'avez pris en charge aucune demande</p>
    {% endif %} 

    {% if myAdvertsWithDeliverer is not empty %} 
        {% for item in myAdvertsWithDeliverer %}
            <div class="card">
                {% if item.user.filename %}
                    <img src="{{vich_uploader_asset(item.user, 'imageFile')}}" alt="">  
                {% else %}
                    <img src="http://placehold.it/200x200" alt="">
                {% endif %}  
                <h3>{{item.user.name}} {{item.user.lastname}}</h3>
                <p>{{item.message}}</p>
                <img src="{{vich_uploader_asset(item.deliverer, 'imageFile')}}" alt="" style="width:50px;height:50px">
                <h3 style="color:red">{{item.deliverer.name}} veut vous aider !</h3>
                {% if not item.cancellation %}
                    <a href="{{path('cancel_advert', {id:item.id})}}">Annuler la réservation</a>
                {% endif %}
                <a href="{{path('given_advert', {id:item.id})}}">J'ai reçu ma livraison (cette action entrainera la suppression de votre annonce)</a>
                {% if item.cancellation %}
                    <h5 style="color:green">Vous avez demandé à annuler la réservation, votre contact doit en faire de même pour que celle-ci soit définitivement supprimée</h5>
                {% endif %} 
            </div>
        {% endfor %}     
    {% endif %}

    {% if myOffersWithClient is not empty %} 
        {% for item in myOffersWithClient %}
            <div class="card" style="background:green">
                <h2>Offre de livraison du {{item.dateDelivery | date("j F Y")}} à {{item.dateDelivery | date("H:i")}}</h2>
                <h3>{{item.limited - item.available}} personnes à livrer</h3>
                <h5>{{item.citiesDelivery}}</h5>
            </div>
        {% endfor %}     
    {% endif %}

{% endblock %}