{% extends "base.html.twig" %}

{% block title %}Annonce de {{advert.user.name}}{% endblock %}

{% block body %}

    <div class="card">
        {% if advert.user.filename %}
            <img src="{{vich_uploader_asset(advert.user, 'imageFile')}}" alt="" style="width:150px;height:100px">  
        {% else %}
            <img src="http://placehold.it/200x200" alt="">
        {% endif %}
        <h3>Annonce de {{advert.user.name}} {{advert.user.lastname}}</h3>
        {% set difference = date("now").diff(date(advert.createdAt)) %}
        {% set leftDays = difference.days %}
        {% if leftDays <= 1 %}
            {% if leftDays < 1 %}
                <span>Aujourd'hui</span>
            {% else %}
                <span>Il y a un jour</span>
            {% endif %}
        {% else %}
            <span>Il y a {{ leftDays }} jours</span>
        {% endif %}   
        <h5>{{advert.city}}</h5>
        <p>{{advert.message}}</p>
        <a href="{{path('delivery',{id:advert.id})}}">Je livre</a>
    </div>


{% endblock %}