{% extends "base.html.twig" %}

{% block title %}Annonces{% endblock %}

{% block body %}

<h1>Annonces</h1>

    <a href="{{path('choice_advert')}}">Créer une annonce</a>

    {{form_start(form)}}
    {{form_row(form.q)}}
    <button type="submit" class="btn btn-primary">Filtrer</button>
    {{form_end(form)}}

    {% if propositionsVille %}
        <div class="proposition">
            <table>
                <tbody>
                {% for item in propositionsVille %}
                    <tr><td><a href="/annonces?q={{item.nom}} ({{item.codeDepartement}})">{{item.nom}} ({{item.codeDepartement}})</a></td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    
    {% if adverts is not empty %}   
        {% for item in adverts %}
            <div class="card">
                {% set difference = date("now").diff(date(item.createdAt)) %}
                {% set leftDays = difference.days %}
                {% if leftDays <= 1 %}
                    {% if leftDays < 1 %}
                        <span>Aujourd'hui</span>
                    {% else %}
                        <span>Il y a un jour</span>
                    {% endif %}
                {% else %}
                    <span>Il y a {{ leftDays }} jours</span>
                {% endif %}   

                <img src="{{vich_uploader_asset(item.user, 'imageFile')}}" alt="" style="width:150px;height:100px">  
                <h3>{{item.user.name}}</h3>
                <h5>{{item.city}}</h5>
                <a href="{{path('advert_information', {id:item.id})}}">En savoir plus</a>
            </div>
        {% endfor %}
    {% else %}
        <p>Il n'y a pas d'annonces</p>
    {% endif %}

{% endblock %}