{% extends "base.html.twig" %}

{% block title %}Création de mon annonce{% endblock %}

{% block body %}

    <h1>Créer mon annonce</h1>

    {{form_start(form)}}
    {{form_row(form.city, {'label': 'Ville où vous voulez vous faire livrer'})}}
    <div class="proposition">
        <table>
            <tbody>
            </tbody>
        </table>
        <div class="error"></div>
    </div>
    {{form_row(form.communication, {'label': 'Moyen de communication souhaité pour échanger avec votre futur livreur'})}}
    {{form_row(form.message, {'label': 'Message', 'attr':{'placeholder':'Indiquez ce dont vous avez besoin'}})}}
        {% if editing %}
            <button type="submit">Sauvegarder les modifications</button>
        {% else %}
            <button type="submit">Créer mon annonce</button>
        {% endif %}
    {{form_end(form)}}

{% endblock %}