{% extends "base.html.twig" %}

{% block title %}Information sur ma demande{% endblock %}

{% block body %}

    <h1>Demande de course du {{advert.createdAt | date('j')}} {{advert.createdAt | date('F') | trans}} {{advert.createdAt | date('Y')}}</h1>

    <p>Votre message: {{advert.message}}</p>

    {% if advert.deliverer is not null %}
        <h2 class="block-inline">Vous avez un voisin !</h2>

        <div class="card block-inline">
            {% if advert.deliverer.filename %}
                <img src="{{vich_uploader_asset(advert.deliverer, 'imageFile')}}" alt="">  
            {% else %}
                <img src="{{asset('images/profile/default-avatar.png')}}" alt="">  
            {% endif %} 
            <h2>{{advert.deliverer.name}}</h2>
            <h2>Tel : {{advert.deliverer.phone}}</h2>
            <h5>Livraison prévue à {{advert.city}}</h5>
        </div>  
        
        {% if not advert.cancellation %}
        <div class="block-inline">
            <a href="{{path('givenAdvert', {id:advert.id})}}">
                <button class="btn btn--card">J'ai reçu ma demande</button>
            </a>
            <a class="delete" alt="annulation de la demande" href="{{path('cancelAdvert', {id:advert.id})}}">
                <button class="btn btn--card">Annuler la demande</button>
            </a>
        {% else %}
        <div class="block-inline">
            <h5 style="color:green">Vous avez demandé à annuler l'échange, votre voisin doit en faire de même pour que celui-ci soit définitivement supprimé</h5>
        {% endif %}
    {% else %}
        <div class="block-inline">
            <a class="delete" alt="suppression de la demande" href="{{path('deleteAdvert', {id:advert.id})}}"><button class="btn btn--card btn--card--delete">Supprimer ma demande</button></a>
            <a href="{{path('editAdvert', {id:advert.id})}}"><button class="btn btn--card">Modifier ma demande</button></a>
    {% endif %}

        <a href="{{path('myCounter')}}">
            <button class="btn btn--card">Retourner au comptoir</button>
        </a>
    </div>

{% endblock %}