{% extends "base.html.twig" %}

{% block title %}Mes activités à venir{% endblock %}

{% block body %}

    <h1>Mes activités à venir</h1>
    <a href="{{path('myCounter')}}" class="btn btn-primary block">Revenir à mon comptoir</a>

    <section class="section__margin-side" id="result">

    {% if model is not empty %}
        {% for item in model %}
            {% if item.type == "clientOfOffer" %}
                <article class="result article-offer">
                    <div class="article__content">
                        <div class="article__header">
                            <div class="article__header__title">
                                <h4>{{item.offer.title}}</h4>
                                <span>{{item.offer.dateDelivery | date('j')}} {{item.offer.dateDelivery | date('F') | trans}} {{item.offer.dateDelivery | date('Y')}}</span>
                            </div>
                            <img src="http://placehold.it/75x75" alt="">
                        </div>
                        <div class="flex">
                            <ul>
                                <li>{{item.offer.groceryType}}</li>
                                {% for city in item.offer.citiesDelivery %}
                                    <li>{{city.name}}</li>
                                {% endfor %}
                            </ul>
                            <p>{{item.offer.message}}...</p>
                        </div>
                    </div>
                    <div class="article__information">
                        <div class="article__information__creator">
                            {% if item.offer.user.filename %}
                                <img src="{{vich_uploader_asset(item.offer.user, 'imageFile')}}" alt="">  
                            {% else %}
                                <img src="{{asset('images/profile/default-avatar.png')}}" alt="">  
                            {% endif %}
                            <div>
                                <h5>{{item.offer.user.name}} {{item.offer.user.lastname}}</h5>
                                <span>A livré {{item.offer.user.points}} fois</span>
                            </div>
                        </div>
                        <a href="{{path('offerInformationForDelivered', {id: item.offer.id})}}" class="btn btn-offer">Voir toutes les informations</a>
                    </div>
                </article>
            {% elseif item.type == "myAdvert" %}
                <article class="result article-help">
                    <div class="article__content">
                        <div class="article__header">
                            <div class="article__header__title">
                                <h4>{{item.advert.title}}</h4>
                                <span>{{item.advert.deadline | date('j')}} {{item.advert.deadline | date('F') | trans}} {{item.advert.deadline | date('Y')}}</span>
                            </div>
                            <img src="http://placehold.it/75x75" alt="">
                        </div>
                        <div class="flex">
                            <ul>
                                <li>{{item.advert.city.name}}</li>
                            </ul>
                            <p>{{item.advert.message}}...</p>
                        </div>
                    </div>
                    <div class="article__information">
                        <div class="article__information__creator">
                            {% if item.advert.deliverer %}
                                {% if item.advert.deliverer.filename %}
                                    <img src="{{vich_uploader_asset(item.advert.deliverer, 'imageFile')}}" alt="">  
                                {% else %}
                                    <img src="{{asset('images/profile/default-avatar.png')}}" alt="">  
                                {% endif %}
                                <div>
                                    <h5>{{item.advert.deliverer.name}} est votre livreur</h5>
                                    <span style="font-size: 1.2em;display: block;width: 100%;">Téléphone : {{item.advert.deliverer.phone}}</span>
                                    {% if item.advert.deliverer.points > 0 %}
                                        <span>A livré {{item.advert.deliverer.points}} fois</span>
                                    {% endif %}
                                </div>
                            {% else %}
                                <h5>Vous n'avez pas de livreur pour le moment</h5>
                            {% endif %}
                        </div>
                        <a href="{{path('advertInformationCreator', {id: item.advert.id})}}" class="btn btn-advert">Voir toutes les informations</a>
                    </div>
                </article>
            {% elseif item.type == "myOffer" %}
                <article class="result article-offer">
                    <div class="article__content">
                        <div class="article__header">
                            <div class="article__header__title">
                                <h4>{{item.offer.title}}</h4>
                                <span>{{item.offer.dateDelivery | date('j')}} {{item.offer.dateDelivery | date('F') | trans}} {{item.offer.dateDelivery | date('Y')}}</span>
                            </div>
                            <img src="http://placehold.it/75x75" alt="">
                        </div>
                        <div class="flex">
                            <ul>
                                <li>{{item.offer.groceryType}}</li>
                                {% for city in item.offer.citiesDelivery %}
                                    <li>{{city.name}}</li>
                                {% endfor %}
                            </ul>
                            <p>{{item.offer.message}}...</p>
                        </div>
                    </div>
                    <div class="article__information">
                        <div class="article__information__creator">
                            <span>X personnes à livrer</span>
                            <div>
                                <img src="http://placehold.it/50x50" class="img-sm" alt="">
                                <img src="http://placehold.it/50x50" class="img-sm" alt="">
                                <img src="http://placehold.it/50x50" class="img-sm" alt="">
                            </div>
                        </div>
                        <a href="{{path('offerInformationForDelivered', {id: item.offer.id})}}" class="btn btn-offer">Voir toutes les informations</a>
                    </div>
                </article>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Vous n'avez pas d'activités à venir ! Foncez, les commerces vous attendent !</p>
    {% endif %}

    </section>

{% endblock %} 
