{% extends "base.html.twig" %}

{% block title %}Mon profil{% endblock %}

{% block body %}

    <h1>Profil</h1>

    {% if app.user.filename %}
        <img src="{{vich_uploader_asset(app.user, 'imageFile')}}" alt="" style="width:150px;height:100px">  
    {% else %}
        <img src="{{asset('images/profile/default-avatar.png')}}" alt="" style="width:150px;height:100px">  
    {% endif %}

    <a href="{{path('changePassword')}}">Changer le mot de passe</a>
    <a href="{{path('notifications')}}">Voir les notifications</a>

    {{form_start(form)}}
    <fieldset>
        <div class="form-group">
            {{form_row(form.city, {'label': 'Ville', 'attr': {'placeholder':'Ville où vous habitez'}})}}
        </div>  
        <div class="btn-city">Trouver ma ville</div>
        <div class="proposition">
            <table>
                <tbody>
                </tbody>
            </table>
            <div class="error"></div>
        </div>
        <div class="form-group">
            {{form_row(form.phone, {'label': 'Numéro de téléphone', 'attr': {'placeholder':'0254872123'}})}}
        </div>
        <div class="form-group">
            {{form_row(form.imageFile, {'label': 'Photo de profil', 'attr' : {'class':'inpFile'}})}}    
        </div>
        <button type="submit">Sauvegarder les changements</button>
    </fieldet>
    {{form_end(form)}}

    <a href="{{path('deleteAccount', {id:app.user.id})}}" style="font-size:2em;color:red">Supprimer le compte</a>

{% endblock %}