{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
    <h1>Inscription</h1>

    {{form_start(form)}}
    <fieldset>
        <div class="form-group">
            {{form_row(form.email, {'label': 'Mail', 'attr': {'placeholder':'utilisateur@gmail.com'}})}}
        </div>
        <div class="form-group">
            {{form_row(form.name, {'label': 'Prénom', 'attr': {'placeholder':'Prénom'}} )}}
        </div> 
        <div class="form-group">
            {{form_row(form.city, {'label': 'Ville', 'attr': {'placeholder':'Ville où vous habitez'}})}}
            <div class="btn-city">Trouver ma ville</div>
            <div class="proposition">
                <table>
                    <tbody>
                    </tbody>
                </table>
                <div class="error"></div>
            </div>
        </div>  
        <div class="form-group">
            {{form_row(form.phone, {'label': 'Numéro de téléphone', 'attr': {'placeholder':'0254872123'}})}}
        </div>
        <div class="form-group">
            {{form_row(form.imageFile, {'label': 'Photo de profil', 'attr' : {'class':'inpFile'}})}}
            <img class="js-imagePreview" src="" alt="">
        </div>
        <div class="form-group">
            {{form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder':'Mot de passe'}})}}
        </div>  
        <div class="form-group">
            {{form_row(form.confirm_password, {'label': 'Répétez le mot de passe', 'attr': {'placeholder':'Mot de passe'}})}}
        </div>  
        {{form_row(form.checkAge, {'label': 'Je certifie avoir au moins 18 ans'})}}
        {{form_row(form.PrivacyPolicies, {'label': 'J\'accepte les confitions d\'utilisation de Comptoir des Voisins'})}}
        <button type="submit">M'inscrire</button>
    </fieldset>
    {{form_end(form)}}
    
    <a href="{{path('login')}}">Se connecter</a>
    </div>
{% endblock %}