{% extends "base.html.twig" %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}

    <h1>Changer le mot de passe</h1>

    {{form_start(form)}}
    {{form_row(form.password, {'label':'Entrez votre mot de passe actuel', 'attr':{'placeholder':'Ancien mot de passe'}})}}
    {{form_row(form.new_password, {'label':'Entrez votre nouveau mot de passe', 'attr':{'placeholder':'Mot de passe'}})}}
    {{form_row(form.confirm_password, {'label':'Répétez le mot de passe', 'attr':{'placeholder':'Répéter le mot de passe'}})}}
    <button type="submit">Changer le mot de passe</button>
    {{form_end(form)}}

{% endblock %}