{% extends "base.html.twig" %}

{% block title %}Mon comptoir{% endblock %}

{% block body %}

    <h1>Mon comptoir</h1>

    <p>Retrouvez sur cette page, toutes les informations utiles pour vous organiser. Si vous voulez modifier, obtenir le numéro de téléphone de votre voisin, supprimer ou juste reconsulter une annonce: cliquez dessus !</p>
    
    <div class="block-inline">
        <a href="{{path('createAdvert')}}"><button class="btn btn--card">Créer une demande</button></a>
        <a href="{{path('offerCreation')}}"><button class="btn btn--card">Créer une course</button></a>
    </div>

    <div class="board">
        <div class="my-informations">
            <div class="exchange">
                <div class="exchange-legend">
                    <div class="flex-container" style="justify-content:left;width: fit-content;">
                        <h2>Mes échanges</h2>
                        <i id="exchange-i" class="fas fa-question-circle"></i>
                    </div>
                    <div class="exchange-legend__legend">
                        <div>Je livre</div>
                        <div>On me livre</div>
                    </div>
                </div>
                <div class="exchange-items">
                    {% if myDeliveriesForAdvert is not empty or ClientOfOffer is not empty or myOffersWithClient is not empty or myAdvertsWithDeliverer is not empty %}
                        {% if myDeliveriesForAdvert is not empty %}
                            {% for item in myDeliveriesForAdvert %}
                                <a href="{{path('informationForDelivererAdvert', {id:item.id})}}">
                                    <div class="row col-align a-blue">
                                        <div class="col-6">
                                            <span>Vous livrez {{item.user.name}} à {{item.city}}</span>
                                        </div>
                                        <div class="col-6 col-align">
                                            <div style="justify-content:flex-end" class="row align">
                                                {% if app.user.filename %}
                                                    <img src="{{vich_uploader_asset(app.user, 'imageFile')}}" alt="">  
                                                {% else %}
                                                    <img src="{{asset('images/profile/default-avatar.png')}}" alt="">  
                                                {% endif %}
                                                <svg style="margin: 0 7px" width="100" height="38" viewBox="0 0 350 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M348.768 20.7678C349.744 19.7915 349.744 18.2085 348.768 17.2322L332.858 1.32233C331.882 0.34602 330.299 0.34602 329.322 1.32233C328.346 2.29864 328.346 3.88155 329.322 4.85786L343.464 19L329.322 33.1421C328.346 34.1184 328.346 35.7014 329.322 36.6777C330.299 37.654 331.882 37.654 332.858 36.6777L348.768 20.7678ZM0 21.5H347V16.5H0V21.5Z" fill="white"/>
                                                </svg>
                                                {% if item.user.filename %}
                                                    <img src="{{vich_uploader_asset(item.user, 'imageFile')}}" alt="">  
                                                {% else %}
                                                    <img src="{{asset('images/profile/default-avatar.png')}}" alt="">  
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </a>   
                            {% endfor %}
                        {% endif %}

                        {% if myOffersWithClient is not empty %}
                            {% for item in myOffersWithClient %}
                                <a href="{{path('informationForCreator', {id:item.id})}}">
                                    <div class="row col-align a-blue">
                                        <div class="col-6">
                                            <span> Vous livrez
                                                {% set length = item.clients|length %}
                                                {% set compteur = 0 %}
                                                {% for client in item.clients %}
                                                    {% set compteur = compteur + 1 %}
                                                    {% if compteur == length %}
                                                        {{client.name}}
                                                    {% elseif compteur == length - 1 %}
                                                        {{client.name}} et
                                                    {% else %}
                                                        {{client.name}},
                                                    {% endif %}
                                                {% endfor %} 
                                                à {{item.citiesDelivery}} le {{item.dateDelivery | date('j')}} {{item.dateDelivery | date('F') | trans}} {{item.dateDelivery | date('Y')}}
                                            </span>
                                        </div>
                                        <div class="col-6 col-align">
                                            <div style="justify-content:flex-end" class="row align">
                                                {% if app.user.filename %}
                                                    <img style="margin: 0 7px" src="{{vich_uploader_asset(app.user, 'imageFile')}}" alt="">  
                                                {% else %}
                                                    <img style="margin: 0 7px" src="{{asset('images/profile/default-avatar.png')}}" alt="">  
                                                {% endif %} 
                                                <svg width="100" height="38" viewBox="0 0 350 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M348.768 20.7678C349.744 19.7915 349.744 18.2085 348.768 17.2322L332.858 1.32233C331.882 0.34602 330.299 0.34602 329.322 1.32233C328.346 2.29864 328.346 3.88155 329.322 4.85786L343.464 19L329.322 33.1421C328.346 34.1184 328.346 35.7014 329.322 36.6777C330.299 37.654 331.882 37.654 332.858 36.6777L348.768 20.7678ZM0 21.5H347V16.5H0V21.5Z" fill="white"/>
                                                </svg>
                                                {% for client in item.clients %}
                                                    {% if client.filename %}
                                                        <img style="margin-left:7px" src="{{vich_uploader_asset(client, 'imageFile')}}" alt="">  
                                                    {% else %}
                                                        <img style="margin-left:7px" src="{{asset('images/profile/default-avatar.png')}}" alt="">  
                                                    {% endif %} 
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        {% endif %}

                        {% if myAdvertsWithDeliverer is not empty %}
                            {% for item in myAdvertsWithDeliverer %}
                                <a href="{{path('informationForCreatorAdvert', {id:item.id})}}">
                                    <div class="row col-align a-bordeau">
                                        <div class="col-6">
                                            <span>{{item.deliverer.name}} vous livre à {{item.city}}</span>
                                        </div>
                                        <div class="col-6 col-align">
                                            <div style="justify-content:flex-end" class="row">
                                                {% if item.deliverer.filename %}
                                                    <img src="{{vich_uploader_asset(item.deliverer, 'imageFile')}}" alt="">  
                                                {% else %}
                                                    <img src="{{asset('images/profile/default-avatar.png')}}" alt="">  
                                                {% endif %} 
                                                <svg style="margin: 0 7px" width="100" height="38" viewBox="0 0 350 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M348.768 20.7678C349.744 19.7915 349.744 18.2085 348.768 17.2322L332.858 1.32233C331.882 0.34602 330.299 0.34602 329.322 1.32233C328.346 2.29864 328.346 3.88155 329.322 4.85786L343.464 19L329.322 33.1421C328.346 34.1184 328.346 35.7014 329.322 36.6777C330.299 37.654 331.882 37.654 332.858 36.6777L348.768 20.7678ZM0 21.5H347V16.5H0V21.5Z" fill="white"/>
                                                </svg>
                                                {% if app.user.filename %}
                                                    <img src="{{vich_uploader_asset(app.user, 'imageFile')}}" alt="">  
                                                {% else %}
                                                    <img src="{{asset('images/profile/default-avatar.png')}}" alt="">  
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        {% endif %}

                        {% if ClientOfOffer is not empty %}
                            {% for item in ClientOfOffer %}
                                <a href="{{path('informationForClient', {id:item.id})}}">
                                    <div class="row col-align a-bordeau">
                                        <div class="col-6">
                                            <span>{{item.user.name}} vous livre à {{item.citiesDelivery}} le {{item.dateDelivery | date('j')}} {{item.dateDelivery | date('F') | trans}} {{item.dateDelivery | date('Y')}}</span>
                                        </div>
                                        <div class="col-6 col-align">
                                            <div style="justify-content:flex-end" class="row">
                                                {% if item.user.filename %}
                                                    <img src="{{vich_uploader_asset(item.user, 'imageFile')}}" alt="">  
                                                {% else %}
                                                    <img src="{{asset('images/profile/default-avatar.png')}}" alt="">  
                                                {% endif %} 
                                                <svg style="margin: 0 7px" width="100" height="38" viewBox="0 0 350 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M348.768 20.7678C349.744 19.7915 349.744 18.2085 348.768 17.2322L332.858 1.32233C331.882 0.34602 330.299 0.34602 329.322 1.32233C328.346 2.29864 328.346 3.88155 329.322 4.85786L343.464 19L329.322 33.1421C328.346 34.1184 328.346 35.7014 329.322 36.6777C330.299 37.654 331.882 37.654 332.858 36.6777L348.768 20.7678ZM0 21.5H347V16.5H0V21.5Z" fill="white"/>
                                                </svg>
                                                {% if app.user.filename %}
                                                    <img src="{{vich_uploader_asset(app.user, 'imageFile')}}" alt="">  
                                                {% else %}
                                                    <img src="{{asset('images/profile/default-avatar.png')}}" alt="">  
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </a>   
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        <div class="row" style="margin:5px 0;padding:10px 0;">Vous n'avez pas d'échange de prévu pour le moment</div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div style="margin-left:0;margin-left:0" class="col-6">
                    <div class="legend">
                        <h2>Mes demandes en ligne</h2>
                        <i id="advert-i" class="fas fa-question-circle"></i>
                    </div>
                    {% if myAdvertsWithoutDeliverer is not empty %}
                        {% for advert in myAdvertsWithoutDeliverer %}
                            <a style="width:100%" href="{{path('informationForCreatorAdvert', {id:advert.id})}}">
                                <div class="row col-align a-bordeau">
                                    <span style="padding:10px">Ma demande du {{advert.createdAt | date('j')}} {{advert.createdAt | date('F') | trans}} {{advert.createdAt | date('Y')}} à {{advert.city}}</span>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        <div class="row" style="margin:5px 0;padding:10px 0;">Vous n'avez pas de demande d'aide en attente de livreur</div>
                    {% endif %}
                </div>
                <div class="col-6" style="margin-right:0">
                    <div class="legend">
                        <h2>Mes courses en ligne</h2>
                        <i id="offer-i" class="fas fa-question-circle"></i>
                    </div>
                    {% if myOffersWithPlace is not empty %}
                        {% for offer in myOffersWithPlace %}
                            <a style="width:100%" href="{{path('informationForCreator', {id:offer.id})}}">
                                <div class="row col-align a-blue">
                                    <span style="padding:10px">Ma course du {{offer.dateDelivery | date('j')}} {{offer.dateDelivery | date('F') | trans}} {{offer.dateDelivery | date('Y')}} à {{offer.citiesDelivery}}</span>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        <div class="row" style="margin:5px 0;padding:10px 0;">Vous n'avez pas de proposition de livraison en attente</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="schedule">
            <div class="container-calendar">
                <div class="title-calendar">
                    <img src="{{asset('build/images/icon/calendar.svg')}}" alt="Icone Calendrier">
                    <h2>Mon Agenda</h2>
                </div>
                <div id="calendar"></div>
            </div>
        </div>
    </div>

    {% block javascript %}
        {{ encore_entry_script_tags('calendar') }}
    {% endblock %}

{% endblock %}