{% extends "base.html.twig" %}

{% block title %}Notifications{% endblock %}

{% block body %}

    <h1>Mes notifications</h1>
    
    {% if notifications is not empty %}   
        {% for item in notifications %}
            <article class="notification">
                <span>{{item.createdAt | date('j')}} {{item.createdAt | date('M') | trans}} {{item.createdAt | date('Y')}} à {{ item.createdAt | date("G:h", "Europe/Paris") }}</span>
                <h2>{{item.object}}</h2>
                <p>{{item.message}}</p>
                <a class="btn btn-sm" href="{{path('deleteNotification', {id:item.id})}}">Supprimer la notification</a>
            </article>
        {% endfor %}
    {% else %}
        <p>Vous n'avez pas de notification</p>
    {% endif %}

{% endblock %}