{% extends "base.html.twig" %}

{% block title %}Informations sur ma livraison{% endblock %}

{% block body %}

    <h1>Vous livrez</h1>

    <div class="card block-inline">
        {% if advert.user.filename %}
            <img src="{{vich_uploader_asset(advert.user, 'imageFile')}}" alt="">  
        {% else %}
            <img src="{{asset('images/profile/default-avatar.png')}}" alt="">  
        {% endif %} 
        <h2>{{advert.user.name}}</h2>
        <h2>Tel : {{advert.user.phone}}</h2>
        <p>Son message : {{advert.message}}</p>
        <h5>Livraison prévue à {{advert.city.name}}</h5>
    </div>  
    
    {% if advert.cancellation %}
        <h5 class="block-inline" style="color:green">Votre voisin a demandé à supprimer cet échange, confirmez-vous la suppression ?</h5>
        <div class="block-inline">
            <a href="{{path('confirmCancellationAdvert', {id:advert.id})}}"><button class="btn btn--card">Je confirme l'annulation de cet échange</button></a>
            <a href="{{path('report', {id:advert.user.id})}}"><button class="btn btn--card">Signaler un abus</button></a>
        </div>
    {% endif %} 

    <a class="block-inline" href="{{path('myCounter')}}">
        <button class="btn btn--card">Retourner au comptoir</button>
    </a>

{% endblock %}