{% extends "base.html.twig" %}

{% block title %}Contact de ma échange{% endblock %}

{% block body %}

    <h1>Contact de mon échange</h1>

    <h2>Echange prévue à {{myOffer.citiesDelivery}} le {{myOffer.dateDelivery | date("j F Y")}} vers {{myOffer.dateDelivery | date("H:i")}}</h2>

    {% for item in myOffer.clients %}
        <div class="cadre" style="width: 40%">

            {% if item.filename %}
                <img src="{{vich_uploader_asset(item, 'imageFile')}}" alt="" style="width:150px;height:100px">  
            {% else %}
                <img src="{{asset('images/profile/default-avatar.png')}}" alt="" style="width:150px;height:100px">  
            {% endif %} 
            <h3>{{item.name}}</h3>
            <h4>Vous pouvez contacter cette personne via téléphone au {{item.phone}}</h4>
            
        </div>
    {% endfor %}

{% endblock %}