{% extends "base.html.twig" %}

{% block title %}Modification de l'offre de livraison{% endblock %}

{% block body %}

    <h1>Modification de mon offre</h1>

    {{form_start(form)}}

    {{form_row(form.dateDelivery, {'label': 'Date'})}}
    {{form_row(form.message, {'label': 'Message', 'attr':{'placeholder':'Information supplémentaire, condition, prix maximal par personne, etc..'}})}}
    {{form_row(form.communication, {'label': 'Moyen de communication souhaité'})}}
    {{form_row(form.limited, {'label': 'Combien de personnes pouvez-vous livrer ?'})}}

    <button type="submit">Modifier mon offre</button>
    {{form_end(form)}}

{% endblock %}