{% extends "base.html.twig" %}

{% block title %}Informations sur l'échange{% endblock %}

{% block body %}

    <h1>Echange du {{offer.dateDelivery | date('j')}} {{offer.dateDelivery | date('M') | trans}} {{offer.dateDelivery | date('Y')}} à {{offer.citiesDelivery}}</h1>

    <div class="card block-inline">
        {% if offer.user.filename %}
            <img src="{{vich_uploader_asset(offer.user, 'imageFile')}}" alt="">  
        {% else %}
            <img src="{{asset('images/profile/default-avatar.png')}}" alt="">  
        {% endif %}

        <h2>{{offer.user.name}} est votre livreur</h2>

        {% if offer.user.points > 0 %}
            <span>{{offer.user.points}} livraison(s) effectuée(s)</span>
        {% endif %}

        <h3>Tel : {{offer.user.phone}}</h3>
        
        <h2>{{offer.groceryType}}</h2>

        <p>Son message : {{offer.message}}</p>
    </div>

    <div class="block-inline">
        <a href="{{path('deleteOffer', {id:offer.id})}}"><button class="btn btn--card">Supprimer la course de mes échanges</button></a>
        <a href="{{path('myCounter')}}"><button class="btn btn--card">Revenir à mon comptoir</button></a>    
    </div>

{% endblock %}