{% extends "base.html.twig" %}

{% block title %}Informations sur mon offre{% endblock %}

{% block body %}

    <h1>Informations sur mon offre</h1>

    <h2>Offre de livraison du {{offer.dateDelivery | date("j F Y")}}</h2>
    <h2>Livraison prévue à {{offer.citiesDelivery}}</h2>

    <h2>Type de course : {{offer.groceryType}}</h2>

    <p>Votre message : {{offer.message}}</p>

    <h2>{{offer.available}} voisin(s) à livrer</h2>
    {% if offer.limited - offer.available != 0 %}
        <h2>{{offer.limited - offer.available}} place(s) disponible(s)</h2>
    {% else %}
        <h2>Votre offre est complète</h2>
    {% endif %}

    {% if offer.clients is not empty %}

        <h2>Voisin(s) à livrer :</h2>
        {% for client in offer.clients %}

            <div class="card">

                <img src="{{vich_uploader_asset(client, 'imageFile')}}" alt="">  
                <h3>{{client.name}}</h3>
                <h4>Tel : {{client.phone}}</h4>
                
            </div>
            
        {% endfor %}

    {% endif %}

    <a href="{{path('edit_offer', {id:offer.id})}}">Modifier l'offre</a>
    <a href="{{path('delete_offer', {id:offer.id})}}">Supprimer l'offre</a>
    <a href="{{path('my_offers')}}">Revenir à mes offres</a>

{% endblock %}