{% extends "base.html.twig" %}

{% block title %}Informations sur ma proposition{% endblock %}

{% block body %}

    <h1>Informations sur ma proposition</h1>

    <h2 class="block-inline">Proposition de livraison du {{offer.dateDelivery | date('j')}} {{offer.dateDelivery | date('F') | trans}} {{offer.dateDelivery | date('Y')}}</h2>
    <h2 class="block-inline">Livraison prévue à {{offer.citiesDelivery}}</h2>
    <h2 class="block-inline">Type de course : {{offer.groceryType}}</h2>
    <p>Votre message : {{offer.message}}</p>

    <h2 class="block-inline">{{offer.available}} voisin(s) à livrer</h2>
    {% if offer.limited - offer.available != 0 %}
        <h2 class="block-inline">{{offer.limited - offer.available}} place(s) disponible(s)</h2>
    {% else %}
        <h2 class="block-inline">Votre course est complète</h2>
    {% endif %}

    {% if offer.clients is not empty %}

        <h2 class="block-inline">Voisin(s) à livrer :</h2>
        <section class="global__container">
            {% for client in offer.clients %}
                <div class="card">
                    {% if client.filename %}
                        <img src="{{vich_uploader_asset(client, 'imageFile')}}" alt="">  
                    {% else %}
                        <img src="{{asset('images/profile/default-avatar.png')}}" alt="">  
                    {% endif %} 
                    <h2>{{client.name}}</h2>
                    <h2>Tel : {{client.phone}}</h2>
                    <a class="delete" alt="suppression de la personne" href="{{path('removeClient', {id:offer.id, user:client.id})}}"><button class="btn btn-sm">Retirer cette personne</button></a>
                </div>  
            {% endfor %}
        </section>

    {% endif %}

    <div class="block-inline">
        <a href="{{path('editOffer', {id:offer.id})}}"><button class="btn btn--card">Modifier</button></a>
        <a class="delete" alt="suppresseion de la proposition de livraison" href="{{path('deleteOffer', {id:offer.id})}}"><button class="btn btn--card btn--card--delete">Supprimer</button></a>
        <a href="{{path('myCounter')}}"><button class="btn btn--card">Revenir au comptoir</button></a>
    </div>

{% endblock %}