{% extends "base.html.twig" %}

{% block title %}Annonce de {{offer.user.name}}{% endblock %}

{% block body %}

    <div class="card">
        <h2>Livraison du {{offer.dateDelivery | date("j F Y")}} à {{offer.dateDelivery | date("H:i")}}</h2>
        <h5>{{offer.citiesDelivery}}</h5>

        <img src="{{vich_uploader_asset(offer.user, 'imageFile')}}" alt="" style="width:150px;height:100px">  

        <h3>{{offer.user.name}}</h3>
        {% if offer.user.points > 0 %}
            <span>{{offer.user.points}} livraison(s) effectuée(s)</span>
        {% endif %}
        <h3>Type de course : {{offer.groceryType}}</h3>
        <p>{{offer.message}}</p>
        {% set nbrePlace = offer.limited - offer.available %}
        {% if offer.available + 1 != offer.limited  %}
            <h3>{{nbrePlace}} places disponibles</h3>
        {% else %}
            <h3>{{nbrePlace}} place disponible</h3>
        {% endif %}
        <a href="{{path('offer_coming', {id:offer.id})}}">Demander à se faire livrer par cette personne</a>
    </div>


{% endblock %}