{% extends "base.html.twig" %}

{% block title %}Création de ma course{% endblock %}

{% block body %}

    <h1 >Création de ma course</h1>
    
    <section class="global__container">
        <article class="form__container">
            {{form_start(form, {'attr': {'class':'login-form'}})}}
                <div class="input-width">
                    {{form_row(form.groceryType, {'label': 'Type de course que vous effectuez', 'attr':{'class':'login-input select'}})}}
                </div>
                <div class="input-width">
                    {{form_row(form.dateDelivery, {'label': 'Date', 'attr':{ 'class': 'selectDate'}})}}
                </div>
                <div class="input-width">
                    {{form_row(form.citiesDelivery, {'label': 'Ville où vous livrez', 'attr':{ 'placeholder': 'Quelle est la ville que vous voulez livrer ?', 'class': 'login-input'}})}}
                </div>
                <div class="proposition"></div>
                <div class="input-width">
                    {{form_row(form.message, {'label': 'Message', 'attr':{'placeholder':'Information supplémentaire, condition, prix maximal par personne, etc..', 'class':'input-container'}})}}
                </div>
                <div class="input-width">
                    {{form_row(form.limited, {'label': 'Combien de personnes pouvez-vous livrer ?','attr':{ 'class':'login-input select'}})}}
                </div>
                <button type="submit" class="btn btn--center">Créer</button>
            {{form_end(form)}}
        </article>
    </section>

{% endblock %}