{% extends "base.html.twig" %}

{% block title %}Offres de livraisons{% endblock %}

{% block body %}

    <h1>Offres de livraisons</h1>

    <a href="{{path('choice_advert')}}">Créer une annonce</a>

    {{form_start(form)}}
    {{form_row(form.q)}}
    <button type="submit" class="btn btn-primary">Filtrer</button>
    {{form_end(form)}}

    {% if propositionsVille %}
        <div class="proposition">
            <table>
                <tbody>
                {% for item in propositionsVille %}
                    <tr><td><a href="/annonces?q={{item.nom}} ({{item.codeDepartement}})">{{item.nom}} ({{item.codeDepartement}})</a></td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if offers is not empty %}
        {% for item in offers %}
            <div class="card">
                {% if item.user.filename %}
                    <img src="{{vich_uploader_asset(item.user, 'imageFile')}}" alt="" style="width:150px;height:100px">  
                {% else %}
                    <img src="http://placehold.it/200x200" alt="">
                {% endif %}
                <h3>{{item.user.name}} {{item.user.lastname}}</h3>
                <h4>{{item.dateDelivery | date("")}}</h4>
                <h5>{{item.citiesDelivery}}</h5>
                <p>{{item.message}}</p>
                <a href="{{path('advert_information', {id:item.id})}}">En savoir plus</a>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}