{% extends "base.html.twig" %}

{% block title %}Création de l'offre de livraison{% endblock %}

{% block body %}

    <h1>Création de mon annonce</h1>

    {{form_start(form)}}

    {{form_row(form.groceryType, {'label': 'Type de course que vous effectuez'})}}
    {{form_row(form.dateDelivery, {'label': 'Date'})}}
    {{form_row(form.citiesDelivery, {'label': 'Ville où vous livrez'})}}
    <div class="btn-city">Trouver la ville</div>
    <div class="proposition">
        <table>
            <tbody>
            </tbody>
        </table>
        <div class="error"></div>
    </div>
    {{form_row(form.message, {'label': 'Message', 'attr':{'placeholder':'Information supplémentaire, condition, prix maximal par personne, etc..'}})}}
    {{form_row(form.limited, {'label': 'Combien de personnes pouvez-vous livrer ?'})}}
    

    <button type="submit">Créer mon annonce</button>
    {{form_end(form)}}

{% endblock %}