{% extends "base.html.twig" %}

{% block title %}Offres de livraisons{% endblock %}

{% block body %}

    <h1>Offres de livraisons</h1>

    <a href="{{path('choice_advert')}}">Créer une annonce</a>

    {{form_start(form)}}
    {{form_row(form.q)}}
    <button type="submit" class="btn btn-primary">Filtrer</button>
    {{form_end(form)}}

    {% if propositionsVille %}
        <div class="proposition">
            <table>
                <tbody>
                {% for item in propositionsVille %}
                    <tr><td><a href="/livrer?q={{item.nom}} ({{item.codeDepartement}})">{{item.nom}} ({{item.codeDepartement}})</a></td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if offers is not empty %}
        {% for item in offers %}
            <div class="card">

                {% if item.user.filename %}
                    <img src="{{vich_uploader_asset(item.user, 'imageFile')}}" alt="" style="width:150px;height:100px">  
                {% else %}
                    <img src="{{asset('images/profile/default-avatar.png')}}" alt="" style="width:150px;height:100px">  
                {% endif %} 
                <h3>{{item.user.name}}</h3>
                {% if item.user.points > 0 %}
                    <span>{{item.user.points}} livraison(s) effectuée(s)</span>
                {% endif %}
                <h3>Type de course : {{item.groceryType}}</h3>
                <h4>{{item.dateDelivery | date("j F Y")}} à {{item.dateDelivery | date("H:i")}}</h4>
                <h5>{{item.citiesDelivery}}</h5>
                <a href="{{path('offer_information', {id:item.id})}}">En savoir plus</a>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}