{% extends "base.html.twig" %}

{% block title %}Annonce de {{offer.user.name}}{% endblock %}

{% block body %}
    <section class="global__container">
        <div class="card">
            {% if offer.user.filename %}
                <img src="{{vich_uploader_asset(offer.user, 'imageFile')}}" alt="">  
            {% else %}
                <img src="{{asset('images/profile/default-avatar.png')}}" alt="">  
            {% endif %}

            <p>Livraison du {{offer.dateDelivery | date('j')}} {{offer.dateDelivery | date('F') | trans}} {{offer.dateDelivery | date('Y')}}</p>
            <p>{{offer.citiesDelivery}}</p>

            <h2>{{offer.user.name}}</h2>
            {% if offer.user.points > 0 %}
                <p><span>{{offer.user.points}}</span> livraison(s) effectuée(s)</p>
            {% endif %}
            <P>Type de course : {{offer.groceryType}}</P>
            <p>{{offer.message}}</p>
            <a href="{{path('offerComing', {id:offer.id})}}"><button class="btn btn--card">Se faire livrer</button></a>
        </div>
    </section>
{% endblock %}