{% extends "base.html.twig" %}

{% block title %}Annonce de {{help.user.name}}{% endblock %}

{% block body %}

    <section class="global__container">
        <div class="card">
            {% if help.user.filename %}
                <img src="{{vich_uploader_asset(help.user, 'imageFile')}}" alt="">  
            {% else %}
                <img src="{{asset('images/profile/default-avatar.png')}}" alt="">  
            {% endif %}
            {% set difference = date("now").diff(date(help.createdAt)) %}
            {% set leftDays = difference.days %}
            {% if leftDays <= 1 %}
                {% if leftDays < 1 %}
                    <p>Aujourd'hui</p>
                {% else %}
                    <p>Il y a un jour</p>
                {% endif %}
            {% else %}
                <p>Il y a {{ leftDays }} jours</p>
            {% endif %}   
            <h2>Demande de </h2>

            <p>{{help.user.name}}</p>
            <p>{{help.city.name}}</p>
            <p>{{help.message}}</p>
            <a href="{{path('helpAcceptation',{id:help.id})}}"><button class="btn btn--card">Je livre</button></a>
        </div>
    </section>


{% endblock %}