<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Nathan Manaranche et Aurélien Hémidy">
        <meta name="keywords" content="">
        <meta name="copyright" content="Nathan Manaranche et Aurélien Hémidy">
        <meta name="language" content="fr">
        <link rel="shortcut icon" href="{{asset('build/images/favicon.png')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% block metadescription %}{% endblock %}
        {{ encore_entry_link_tags('app') }}
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
         <header>
            <article class="burger">
                <div class="icon"></div>
            </article>
            <div class="menu">
                <div class="navIcon">
                    <a href="{{path('index')}}" class="website-icon"><img src="{{asset('build/images/logo2.png')}}"  alt="Site Icon"></a>	
                    <nav class="nav">
                        {# <a href="{{path('index')}}" class="website-icon"><img src="{{asset('/images/profile/logo2.png')}}"  alt="Site Icon"></a>	 #}
                        <ul class="links">
                            <li id="search-link"><a href="{{path('searchChoice')}}" class="nav-link">Rechercher</a></li>
                            {% if app.user %}
                                <li id="creation-link"><a href="{{path('choiceAdvert')}}" class="nav-link">Créer une course / demande</a></li>
                                <li id="counter-link"><a href="{{path('myCounter')}}" class="nav-link">Mon comptoir</a></li>
                                <li class="nav-link--name">Bonjour {{app.user.name}}</li>
                            {% endif %}        
                        </ul>
                    </nav>
                </div>
                <aside class="nav-login">
                    <i class="fas fa-sign-out-alt"></i>
                    {% if app.user %}
                        <a id="profile-link" href="{{path('profile')}}" class="nav-link">Mon compte</a>
                        <a href="{{path('logout')}}" class="nav-link">Me déconnecter</a>
                    {% else %}
                        <a href="{{path('login')}}" class="nav-link">Me connecter</a>
                        <a href="{{path('registration')}}" class="nav-link">M'inscrire</a>
                    {% endif %}
                </aside>
                </nav>
            </div>
            <div class="mobile-layout">
                <div class="menu-mobile">
                    <ul class="menu-mobile__links">
                        <li class="menu-mobile__link"><a href="{{path('offers')}}">Propositions de course</a></li>
                        <li class="menu-mobile__link"><a href="{{path('adverts')}}">Demandes d'aide</a></li>
                        <li class="menu-mobile__link"><a href="{{path('myCounter')}}">Mon comptoir</a></li>
                        {% if app.user %}
                            <li class="menu-mobile__link"><a href="{{path('profile')}}">Mon compte</a></li>
                            <li class="menu-mobile__link"><a href="{{path('logout')}}">Me déconnecter</a></li>
                        {% else %}
                            <li class="menu-mobile__link"><a href="{{path('login')}}">Me connecter</a></li>
                            <li class="menu-mobile__link"><a href="{{path('registration')}}">M'inscrire</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </header>
        
        {% block body %}       
        {% endblock %}

        <footer>
            <ul>
                <li><a class="underline" href="{{path('CGU')}}">Nos Conditions Générales d'Utilisation</a></li>
                <li><a class="underline" href="{{path('PrivacyPolicies')}}">Nos Politiques de Confidentialité</a></li>
            </ul>
            <span>Comptoir des Voisins</span>
        </footer>

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}
        <script>
            let h1Title = $('h1').text();
            switch (h1Title) {
                case "Mon comptoir":
                    $('#counter-link').addClass('active-link');
                    break;
                case "Que recherchez-vous ?":
                    $('#search-link').addClass('active-link');
                    break;
                case "Choix du type d'annonce":
                    $('#creation-link').addClass('active-link');
                    break;
                case "Profil":
                    $('#profile-link').addClass('active-link');
                    break;
                default:
                    break;
            }
        </script>
    </body>
</html>
