{% extends "base.html.twig" %}

{% block title %}Mes annonces{% endblock %}

{% block body %}

    <a href="{{path('create_my_advert')}}">Créer une annonce</a>

    {% if myAdverts %}
        
        {% for item in myAdverts %}
            <article>
                <img src="{{vich_uploader_asset(item.user, 'imageFile')}}" alt="" style="width:150px;height:100px">  
                <h3>{{item.user.name}} {{item.user.lastname}}</h3>
                <p>{{item.message}}</p>
                <a href="#">Supprimer</a>
            </article>
        {% endfor %}

    {% else %}
        <p>Vous n'avez pas créé d'annonces pour le moment</p>       
    {% endif %}
{% endblock %}