{% extends "base.html.twig" %}

{% block title %}Choisissez une ville{% endblock %}

{% block body %}

    <h1>Veuillez choisir la ville de livraison parmi les villes suivantes</h1>

    <table>
        <tbody>
            {% for city in cities %}
            <tr style="width:500px; border:5px solid blue">
                <td class="ville" alt="{{city.code}}">{{city.nom}} ({{city.codeDepartement}})</td>
            </tr>      
            {% endfor %}
        </tbody>
    </table>
    {{form_start(form)}}
    {{form_row(form.city)}}
    <button type="submit">Valider</button>
    {{form_end(form)}}

{% endblock %}